*{
	margin: 30px;
	padding: auto;
}
#c1{
    overflow: hidden;
	width: auto;
	height: auto;
	margin-left: 400px;
	border: 3px solid black;
	background: rgb(0 70 0 / 65%);
}
#buttoms{
	margin-left: 450px;
	font-size: 50px;
	color: white;
}


#up,#down{
	margin-left: 120px;
	padding: 30px;
	background: black;
	width: 30px;
}
#left{
	padding: 30px;
	background: black;
}
#right{
	margin-left: 50px;
	padding: 30px;
	background: black;
}
