*{
	margin: 16px;
	padding: auto;
}
.version{
	font-size: 32px;
	margin: 0;
	padding: 0;
}
.version-id{
	color:red;
	font-size: 32px;
}
#c1{
    overflow: hidden;
	width: auto;
	height: auto;
	margin-left: 400px;
	border: 3px solid black;
	background-color: green;
}
#up,#down{
	margin-left: 520px;

}
#left{
	margin-left: 430px;
}
#body{
    background: dimgrey;
}
#center{
    position: relative;
    background-color: white;
    border: 1px solid black;
    border-radius: 32px;
    width: 800px;
    height: 533px;
    top: 150px;
    left:200px;
}
#input{
    width: 300px;
}
.word{
    padding: 0;
    margin: 0;
}
.color1{
    margin: 0;
    padding: 1px;
    padding-left: 30px;
    padding-top: 13px;
    color: white;
    background-color: green;
    border: 1px solid black;
}
.color2{
    margin: 0;
    padding: 1px;
    padding-left: 30px;
    padding-top: 13px;
    color: white;
    background-color: blue;
    border: 1px solid black;
}
.color3{
    margin: 0;
    padding: 1px;
    padding-left: 30px;
    padding-top: 13px;
    color: white;
    background-color: orange;
    border: 1px solid black;
}
.bottom1{
    margin: 0;
    padding: 0;
}
.bottom2{
    margin: 0;
    padding: 0;
}
.bottom3{
    margin: 0;
    padding: 0;
}
.colors{
    margin: 0;
    padding: 0;
}
.colorN10,.colorN20,.colorN30{
    margin: 0;
    padding: 1px;
    padding-left: 30px;
    padding-top: 13px;
    color: white;
    background-color: orange;
    border: 1px solid black;
}
.colorN11,.colorN21,.colorN31{
    margin: 0;
    padding: 1px;
    padding-left: 30px;
    padding-top: 13px;
    color: white;
    background-color: blue;
    border: 1px solid black;
}
.colorN12,.colorN22,.colorN32{
    margin: 0;
    padding: 1px;
    padding-left: 30px;
    padding-top: 13px;
    color: white;
    background-color: green;
    border: 1px solid black;
}
.colorN13,.colorN23,.colorN33{
    margin: 0;
    padding: 1px;
    padding-left: 30px;
    padding-top: 13px;
    color: white;
    background-color: white;
    border: 1px solid black;
}
.colorN14,.colorN24,.colorN34{
    margin: 0;
    padding: 1px;
    padding-left: 30px;
    padding-top: 13px;
    color: white;
    background-color: black;
    border: 1px solid black;
}
.colorN15,.colorN25,.colorN35{
    margin: 0;
    padding: 1px;
    padding-left: 30px;
    padding-top: 13px;
    color: white;
    background-color: red;
    border: 1px solid black;
}
#c2{
    width: 300px;
    height: 300px;
    background-color: green;
    border: 2px solid black;
    position: absolute;
    right: 0;
    top: 0;
}
#yum{
    margin: 0;
    width: 30px;
    height: 30px;
    position: absolute;
    border: 1px solid black;
    background-color: orange;
    right: 58px;
    top: 210px;
}
.tails{
    margin: 0;
    width: 30px;
    height: 30px;
    position: absolute;
    background-color: blue;
    border: 1px solid black;
}
#start{
    background-color: black;
    color:white;
    height: 150px;
    font-size: 140px;
    padding-left: 200px;
    padding-bottom: 30px;
	margin-top: 110px;
	border-radius: 32px;
}
