*:only-child{
    background-image: none;
}
*{
    margin: 16px;
	padding: auto;
}
#version-font{
	font-size: 32px;
	margin: 0;
	padding: 0;
}
#version-id{
	color:red;
	font-size: 32px;
}
#c1{
    overflow: hidden;
	width: auto;
	height: auto;
	margin-left: 200px;
	border: 3px solid black;
	background-color: green;
}
#up,#down{
    background-image: none;
	margin-left: 520px;

}
#left{
    background-image: none;
	margin-left: 430px;
}
#right{
    background-image: none;
}
#center{
    margin: 0px;
    position: relative;
    background-color: white;
    border: 1px solid black;
    border-radius: 32px;
    width: 950px;
    height: 710px;
    top: 50px;
    left:100px;
}
.word{
    font-size: 32px;
    padding: 0;
    margin: 0;
}
.color{
    margin: 0;
    padding: 44px 1px 1px 64px;
    border: 1px solid black;
}
#color1{
    background-color: green;
}
#color2{
    background-color: blue;
}
#color3{
    background-color: orange;
}
.bottom{
    margin: 0;
    padding: 0;
}
#colorN10,#colorN20,#colorN30{
    background-color: orange;
}
#colorN11,#colorN21,#colorN31{
    background-color: blue;
}
#colorN12,#colorN22,#colorN32{
    background-color: green;
}
#colorN13,#colorN23,#colorN33{
    background-color: white;
}
#colorN14,#colorN24,#colorN34{
    background-color: black;
}
#colorN15,#colorN25,#colorN35{
    background-color: red;
}
#c2{
    width: 300px;
    height: 300px;
    background-color: green;
    border: 2px solid black;
    position: absolute;
    right: 0;
    top: 0;
}
#yum{
    margin: 0;
    width: 30px;
    height: 30px;
    position: absolute;
    border: 1px solid black;
    background-color: orange;
    right: 51px;
    top: 214px;
}
.tails{
    margin: 0;
    width: 30px;
    height: 30px;
    position: absolute;
    background-color: blue;
    border: 1px solid black;
}
#start{
    background-color: black;
    padding: 0px -100px 30px 0px;
    margin-top: 0px;
	border-radius: 32px;
}
#imStart{
    padding: 0px 0 0px 0;
}
#gameover{
    margin-left: 120px;
}
#restart{
    margin: -80px 0px 0px 520px;
    border: white solid 1px;
}
.score{
    margin-left: 120px;
    color:white
}
#tScorEv{
    margin-left: 120px;
}
