*:only-child{
    background-image: none;
}
*{
    margin: 16px;
	padding: auto;
}
#version-font{
	font-size: 32px;
	margin: 0;
	padding: 0;
}
#version-id{
	color:red;
	font-size: 32px;
}
#c1{
    overflow: hidden;
	width: auto;
	height: auto;
	margin-left: 200px;
	border: 3px solid black;
	background-color: green;
}
#center{
    margin: 0px;
    position: relative;
    background-color: white;
    border: 1px solid black;
    border-radius: 32px;
    width: 950px;
    height: 710px;
    top: 50px;
    left:100px;
}
.word{
    font-size: 32px;
    padding: 0;
    margin: 0;
}
.color{
    margin: 0;
    padding: 0;
    background-color: rgb(207, 207, 207);
    width: 66px;
    height: 66px;
}
.bottom{
    margin: 0;
    padding: 0;
}
#c2{
    width: 300px;
    height: 300px;
    background-color: green;
    border: 2px solid black;
    position: absolute;
    right: 0;
    top: 0;
}
#yum{
    margin: 0;
    width: 30px;
    height: 30px;
    position: absolute;
    border: 1px solid black;
    background-color: orange;
    right: 51px;
    top: 214px;
}
.tails{
    margin: 0;
    width: 30px;
    height: 30px;
    position: absolute;
    background-color: blue;
    border: 1px solid black;
}
#start{
    background-color: black;
    padding: 0px -100px 30px 0px;
    margin-top: 0px;
	border-radius: 32px;
}
#imStart{
    padding: 0px 0 0px 0;
}
#gameover{
    margin-left: 120px;
}
#restart{
    margin: -80px 0px 0px 520px;
    border: white solid 1px;
}
.score{
    margin-left: 120px;
    color:white
}
#tScorEv{
    margin-left: 120px;
}


.arrow span {
    margin: 0;
    margin-bottom: 12px;
    display: inline-block;
    width: 30px;
    height: 30px;
    border-bottom: 5px solid #eb2a2a;
    border-right: 5px solid #eb2a2a;
    animation: arrow 2s infinite;
}
.arrow span:nth-child(1){
    animation-delay: -0.2s;
}
.arrow span:nth-child(2){
    animation-delay: -0.1s;
}
@keyframes arrow {
    0%{
        opacity: 0;
        transform: translate(50px,0) rotate(135deg);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: translate(10px,0) rotate(135deg);
    }
}


.arrow{
    cursor: pointer;
    position: relative;
}
.arrow-down-top, .arrow-down-bottom,
.arrow-up-top, .arrow-up-bottom,
.arrow-right-top, .arrow-right-bottom,
.arrow-left-top, .arrow-left-bottom{
    background: #337AB7;
    height: 80px;
    position: absolute;
    width: 150px;
}
.arrow-right-bottom {
    left: 470px;
    top: 1015px;
}
.arrow-right-top {
    left: 470px;
    top: 1047px;
}
.arrow-down-bottom{
    left: 364px;
    top: 1121px;
}
.arrow-down-top {
    left: 314px;
    top: 1204px;
}
.arrow-left-bottom {
    left: 210px;
    top: 965px;
}
.arrow-left-top {
    left: 210px;
    top: 1099px;
}
.arrow-up-bottom {
    left: 315px;
    top: 860px;
}
.arrow-up-top {
    left: 365px;
    top: 943px;
}
.arrow-down-top,
.arrow-up-top,
.arrow-right-top,
.arrow-left-top{
    transform: rotate(45deg);
    transform-origin: bottom right;
}
.arrow-down-bottom,
.arrow-up-bottom,
.arrow-right-bottom,
.arrow-left-bottom{
    transform: rotate(-45deg);
    transform-origin: top right;
}
.arrow-down-top::after, 
.arrow-down-bottom::after,
.arrow-up-top::after, 
.arrow-up-bottom::after,
.arrow-right-top::after, 
.arrow-right-bottom::after,
.arrow-left-top::after, 
.arrow-left-bottom::after {
    background: #000;
    content: '';
    height: 100%;
    position: absolute;
    transition: all 0.15s;
    transition-delay: 0s;
}
.arrow-down-top::after, .arrow-up-bottom::after {
    left: 0;
    right: 100%;
}
.arrow-down-bottom::after, .arrow-up-top::after {
    left: 100%;
    right: 0;
}
.arrow-right-top::after, .arrow-right-bottom::after {
    left: 0;
    right: 100%;
}
.arrow-left-top::after, .arrow-left-bottom::after {
    left: 100%;
    right: 0;
}
.arrow-down:hover .arrow-down-bottom::after, .arrow-up:hover .arrow-up-top::after, .arrow-left:hover .arrow-left-top::after, .arrow-left:hover .arrow-left-bottom::after {
    border: 1px solid black;
    left: 0;
}
.arrow-down:hover .arrow-down-top::after, .arrow-up:hover .arrow-up-bottom::after, .arrow-right:hover .arrow-right-top::after, .arrow-right:hover .arrow-right-bottom::after {
    right: 0;
    border: 1px solid black;
}
