*:only-child{
    background-image: none;
}
*{
    text-align: center;
    padding: 0;
}
#version-font{
	font-size: 32px;
}
#version-id{
	color:red;
	font-size: 32px;
}
#canvas1{
    overflow: hidden;
	border: 3px solid black;
}
#center{
    margin: 0 auto;
    padding: 16px;
    position: relative;
    background-color: white;
    border: 1px solid black;
    border-radius: 32px;
    width: 950px;
    height: 710px;
}
.div{
    width: 230px;
    height: 130px;
}
.word{font-size: 32px;}
.color{
    background-color: rgb(207, 207, 207);
    width: 66px;
    height: 66px;
}
#canvas2{
    width: 300px;
    height: 300px;
    border: 2px solid black;
    position: absolute;
    right: 0;
    top: 0;
    margin: 16px;
}
#start{
    background-color: black;
    padding: 0px -100px 30px 0px;
    margin: 16px;
	border-radius: 32px;
}
#restart{
    margin: -100px 0px 0px 520px;
    border: white solid 1px;
}
.score{
    margin: 20px;
    width: 300px;
    margin-left: 0px;
    color:white
}


.arrow span {
    margin: 0;
    margin-bottom: 12px;
    display: inline-block;
    width: 30px;
    height: 30px;
    border-bottom: 5px solid #eb2a2a;
    border-right: 5px solid #eb2a2a;
    animation: arrow 2s infinite;
}
.arrow span:nth-child(1){ animation-delay: -0.2s;}
.arrow span:nth-child(2){animation-delay: -0.1s;}
@keyframes arrow {
    0%{
        opacity: 0;
        transform: translate(50px,0) rotate(135deg);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: translate(10px,0) rotate(135deg);
    }
}



.arrow{
    cursor: pointer;
    position: relative;
}
.arrow-down-top, .arrow-down-bottom,
.arrow-up-top, .arrow-up-bottom,
.arrow-right-top, .arrow-right-bottom,
.arrow-left-top, .arrow-left-bottom{
    background: #337AB7;
    height: 80px;
    position: absolute;
    width: 150px;
}
.arrow-right-bottom,.arrow-right-top { left: 470px; }
.arrow-down-top,.arrow-up-bottom     { left: 314px; }
.arrow-left-bottom,.arrow-left-top   { left: 210px; }
.arrow-down-bottom,.arrow-up-top     { left: 365px; }

.arrow-down-top     { top: 1204px; }
.arrow-down-bottom  { top: 1121px; }
.arrow-left-top     { top: 1099px; }
.arrow-right-top    { top: 1047px; }
.arrow-right-bottom { top: 1015px; }
.arrow-left-bottom  { top: 965px; }
.arrow-up-top       { top: 943px; }
.arrow-up-bottom    { top: 860px; }

.arrow-down-top,
.arrow-up-top,
.arrow-right-top,
.arrow-left-top{
    transform: rotate(45deg);
    transform-origin: bottom right;
}
.arrow-down-bottom,.arrow-up-bottom,.arrow-right-bottom,.arrow-left-bottom{
    transform: rotate(-45deg);
    transform-origin: top right;
}
.arrow-down-top::after,   .arrow-up-top::after,   .arrow-right-top::after,    .arrow-left-top::after,
.arrow-down-bottom::after,.arrow-up-bottom::after,.arrow-right-bottom::after, .arrow-left-bottom::after {
    background: #000;
    content: '';
    height: 100%;
    position: absolute;
    transition: all 0.15s;
    transition-delay: 0s;
}
.arrow-down-bottom::after, .arrow-up-top::after, .arrow-left-top::after, .arrow-left-bottom::after {
    left: 100%;
    right: 0;
}
.arrow-down-top::after, .arrow-up-bottom::after, .arrow-right-top::after, .arrow-right-bottom::after {
    left: 0;
    right: 100%;
}
.arrow-down:hover .arrow-down-bottom::after, .arrow-up:hover .arrow-up-top::after, .arrow-left:hover .arrow-left-top::after, .arrow-left:hover .arrow-left-bottom::after {
    border: 1px solid black;
    left: 0;
}
.arrow-down:hover .arrow-down-top::after, .arrow-up:hover .arrow-up-bottom::after, .arrow-right:hover .arrow-right-top::after, .arrow-right:hover .arrow-right-bottom::after {
    right: 0;
    border: 1px solid black;
}
